*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --orange: #ff6600;
    --black:#1A1A1A;
    --secondary-dark: #333333; 
}
html {
    scroll-behavior: smooth;
  }
body{
    max-width: 100%;
    height: auto;
    font-family: 'Crimson Text', serif;
}
p{
    font-size: 1.3rem;
}

/*Mobile first design*/

header{
    background-color: var(--black);
    width: 100%;
    height: 98vh;
}
.menu{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 3em 1em;
    font-size: 1.2rem;
    transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
}
.logo img{
    width: 100px;
    margin: 20px;
}
nav{
    position: relative;
}
.menu:hover{
    color: var(--orange);
}
.navlink{
    list-style: none;
    display: flex;
}
.title h1{
    text-align: center;
    text-transform: uppercase;
}
.underline{
    width: 100px;
    height: 5px;
    background-color: var(--orange);
    position: relative;
    left: 37%;
}
.hero-section{
    display: flex;
    flex-direction: column-reverse;
}
.hero-text{
    margin: 20px; 
}
.hero-img{
    width: 100%; 
    height: 100%;
    position: relative;
    }
    .hero-img img{
        width: 100%;
        height: 70%;
        margin-top: 100px;
        animation: bounce 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    .bounce{
        animation-name: bounce;
        animation-timing-function: ease;
    }
    @keyframes bounce{
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-50px);
        }
    }
    .hero-text h1{
        font-size: 2.4rem;
        margin: 5px 0;
        color: white;
    }
    .hero-text p{ color: white; font-size: 1.2rem;}
    form input, .news-form{
        background-color: var(--secondary-dark);
        padding: 1rem;
        margin: 20px 0;
        width: 70%;
        font-size: 1rem;
        color: white;
        border: none;
    }
    .search-btn, .card-btn, .post-btn{
        padding: 13px 20px;
        background-color: var(--orange);
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: all .5s ease-in;
     }
     .post-btn:hover{
         background-color: var(--secondary-dark);
     }
     .search-icon, .input-btn{
        background-color: var(--orange);
        padding: 1rem;
        border: none;
        font-size: 1rem;
         color: white;
         transition: all .5s ease-in;
         cursor: pointer;
     }
     .search-icon:hover, .search-btn:hover{
        background-color: var(--secondary-dark);
    }
/*food section style*/
.food{
    padding: 50px 0;
}
.foodcat-btn{padding: 20px 0;}
.btn1, .btn2,.btn3,.btn4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-btn, .foods-btn{
    padding: 13px 20px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: all .5s ease-in;
}
.food-btn{
    margin: 10px 20px;
    background-color: var(--black);
}
.foods-btn{
    background-color: var(--orange);
}
.food-btn:hover{
    background-color: var(--orange);
}
.foods-btn:hover{
    background-color: var(--secondary-dark);
}
/*cards section*/
.card{
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.397);
    margin: 20px;
    transition: 0.3s all ease-in-out;
}
.card:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.541);
    transform: scale(0.97);
}
.card-content{
    text-align: center;
    margin: 0 20px;
}
.card-body{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .card-btn{
     margin: 30px 0;
 }
 .card-header img{
    max-width: 100%;
    min-height: 350px;
}
.lastpost-btn{
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}
.title{
    margin: 40px 0;
}

/*restaurants section*/

.all-restaurants img{
   max-width: 100%;
}
.each-restaurant{
    position: relative;
}
.each-restaurant:hover img{
    filter: blur(2px) brightness(40%);
    box-shadow: 0 0 8px 5px;
}
.each-restaurant :not(img){
    top: 20%;
    left: 10%;
    color: white;
    text-align: center;
    transition: opacity .3s ease-in;
}
.each-restaurant:hover :not(img){
    opacity: 1;
}
.restaurant-overlay{
    position: absolute;
  }
.restaurant-overlay h1{
    margin-bottom: 30px;
    text-align: center;
}
.restaurant-btn1, .restaurant-btn2{
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in;
}
.restaurant-btn1{
    padding: 15px 20px;
    background-color: var(--orange);
    border: none;
    margin: 0 10px;
}
.restaurant-btn2{
    padding: 13px 25px;
    border: 2px solid white;
}

/*recipe section*/

.all-recipes img{
    max-width: 100%;
    filter: brightness(40%);
}
.first-recipe{
    position: relative;
}
.recipe-overlay{
    position: absolute;
    bottom: 10%;
    left: 2%;
    color: white;
}
.recipe-overlay a, .recipe-overlay p{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.fa-clock, .fa-user{
    color: var(--orange);
    margin: 0 20px;
}
.recipe-extras{
   margin: 20px;
}
/*newsletter section*/
.newsletter-section{
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.651)) ,url(../Img/Chicken-Suya.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 85vh;
}
.news-underline{
    width: 100px;
    height: 5px;
    background-color: var(--orange);
    position: relative;
    left: 36%;
}
.newsletter h1, .newsletter p{
    color: white;
}
.newsletter{padding: 10px;}
.news-content{
    text-align: center;
}
.input-btn:hover{
    background-color: var(--secondary-dark);
}

/*gallery section*/
.gallery-img img{max-width: 100%;}
figcaption{text-align: center;}

/*footer section*/

footer{
    background-color: #1A1A1A;
    color: white;
    padding: 30px 20px;
}
.footer-container{
    margin: 30px 0;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
    transition: color .5s ease-in-out;
    font-size: 20px;
    line-height: 2;
}
footer p{line-height: 2;}
footer a:hover{
    color: var(--orange);
}
.fa-instagram, .fa-twitter, .fa-google{
    font-size: 2rem;
    margin: 10px;
}
footer form{
    display: flex;
    flex-direction: column;
}
footer h1{
    color: var(--orange);
    margin: 20px 0;
}
footer ul{
    list-style: none;
}
.footer-email{
    width: 100%;
    background-color: var(--secondary-dark);
}
#message-area{
    padding: 50px 60px;
}
textarea{
    margin: 20px 0; 
    background-color: var(--secondary-dark);
    border: none;
}
.copyright{
    text-align: center;
    font-size: 1rem;
}


/*resolution for larger screens*/

@media (min-width: 1281px) {
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navlink{
        margin: 25px 10px;
      }
    header{padding: 0 60px;}
    .logo img{
        width: 200px;
        margin-top: 30px;
    }
    .hero-section{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
    .hero-img{
        width: 40% !important;
    }
    .hero-section .hero-text{
        margin-top: 100px; 
    }
    .hero-text h1{
        font-size: 3rem;
        margin: 10px 0;
    }
    .hero-text p{font-size: 1.5rem; width: 80%;}
    .search-btn{ padding: 15px 25px; font-size: 1.1rem; margin-top: 20px;}
    form input, .search-icon{ padding: 1rem; font-size: 1.2rem;}
    .foodcat-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .underline{
      left: 46.5%;
    }
    .title{
        margin: 40px 0;
    }
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        flex-basis: 30%;
}
.card-body{
   margin: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.card-btn{
    margin: 30px 0;
}
.card-content{
    text-align: center;
}
.each-restaurant img{
    filter: brightness(100%);
    transition: filter .3s ease-in;
}
.each-restaurant img:hover{
    filter: blur(20px),brightness(50%);
}
.all-restaurants, .all-recipes, .gallery-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 70px;
}
.each-restaurant :not(img){
    top: 30%;
    left: 30%;
    opacity: 0;
}
.recipe-extras i, .recipe-overlay a{font-size: 1.4rem;}
.newsletter-section{
    margin: 70px;
}
.newsletter p{font-size: 1.8rem;}
.news-content{
    text-align: center;
    margin: 150px 0;
}
.news-underline{
    left: 46.5%;
}
.img-1 img, .img-2 img, .img-3 img{
    height: 400px;
    width: 600px;
    object-fit: cover;
}
.img-5 img{
    height: 500px;
    width: 600px;
    object-fit: cover;
    }
.img-1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.img-2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.img-3{
    grid-row: 2/3;
    grid-column: 1/2;
}
.img-4{
    grid-column: 2/3;
    grid-row: 2/4;
}
.img-5{
    grid-column: 1/2;
    grid-row: 3/4;
}
.footer-container{margin: 0 60px;}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer a{font-size: 1.3rem;}
.footer-about, .footer-links, label{
    text-align: left;
}
.footer-links{margin: 0 100px;}
.fa-instagram, .fa-twitter, .fa-google{
    font-size: 2.2rem;
    margin: 20px;
}
}


/*resolution for most laptops, desktops: screens btw 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .hero-section{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    header{padding: 0 60px;}
    .logo img{
        width: 200px;
    }
    .nav-wrapper{ 
        display: flex;
        justify-content: space-between;
    }
   .navlink{
     margin: 25px 10px;
   }
    .hero-img{
        width: 40% !important;
    }
    .hero-text h1{
        font-size: 3rem;
    }
    .hero-text p{
        margin-top: 15px;
        width: 80%;
    }
    form{
        margin: 25px 0;
    }
    .underline{
          left: 45.6%;
        }
    .foodcat-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .card-header img{
        min-height: 250px;
    }
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        flex-basis: 28%;
}
.card-body{
   margin: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.card-btn{
    margin: 30px 0;
}
.card-content{
    text-align: center;
}
.all-restaurants,.all-recipes, .gallery-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 70px;
}
.each-restaurant :not(img){
    top: 30%;
    left: 20%;
    opacity: 0;
}
.recipe-extras i, .recipe-overlay a{font-size: 1.4rem;}
.newsletter-section{
    margin: 70px;
    height: 40vh;
}
.news-content{
    text-align: center;
    margin: 180px 0;
}
.newsletter p{font-size: 1.8rem;}
.news-underline{
    left: 44.5%;
}
.img-1 img, .img-2 img, .img-3 img{
    height: 400px;
    width: 500px;
    object-fit: cover;
}
.img-5 img{
    height: 200px;
    width: 500px;
    object-fit: cover;
    }
.img-1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
.img-2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.img-3{
    grid-row: 2/3;
    grid-column: 1/2;
}
.img-4{
    grid-column: 2/3;
    grid-row: 2/4;
}
.img-5{
    grid-column: 1/2;
    grid-row: 3/4;
}
.footer-container{margin: 0 40px;}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer h1{font-size: 1.5rem !important;}
footer a{font-size: 1.3rem;}
.footer-about, .footer-links, label{
    text-align: left;
}
.footer-links{margin: 0 60px;}
.fa-instagram, .fa-twitter, .fa-google{
    font-size: 2.2rem;
    margin: 20px;
}
}
/*resolution for most smartphones: screens btw 320px to 480px*/
@media (min-width: 320px) and (max-width: 480px) {
    header{
        height: auto;
    }
    nav{
        z-index: 9;
    }
    .hero-text h1{font-size: 2.3rem;}
    .navlink{
        list-style: none;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
        height: 92vh;
        width: 100%;
        position: absolute;
        background-color: var(--orange);
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        transition: all 2s ease;
    }
    .navlink.open{
        clip-path: circle(1000px at 90% -10%);
    }
    .navlink.close{
        display: none;
    }
    .title h1{
       font-size: 1.3rem;
    }
    .menu:hover{
        color: white;
    }
    .line{
        width: 26px;
        height: 3px;
        background-color: aliceblue;
        margin: 5px;
    }
    .burger{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    form input{width: 80%;}
    .each-restaurant img{
        filter: brightness(50%);
    }
    .footer-container h1{font-size: 1.5rem;}
}
@media only screen and (device-width: 320px){
    .each-restaurant :not(img){
    left: 5%;
    }
    .news-underline{
        left: 34%;
    }
    .card-header img{
        min-height: 200px;
        object-fit: cover;
    }
} 